body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.header {
  background-color: #829985;
  position: fixed;
  width: 100%;
}
.main {
  margin-top: 30px;
}
.footer {
  margin-bottom: auto;
  background-color: #829985;
  padding: 20px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 15px;
  line-height: 50px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}
.nav-item a {
  color: bisque;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-item a:hover {
  color: #4d2323;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.section-title {
  color: #829985;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500;
}
.profile-logo {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}
.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #829985;
}
.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-title {
  color: black;
  letter-spacing: 15px;
  font-size: 30px;
}
.caption-title {
  font-size: 25px;
}
.section-list {
  font-size: 20px;
  color: black;
  line-height: 2.4;
  padding: 20px;
}
.main-link {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a {
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
.text {
  color: black;
  font-size: 20px;
  line-height: 30px;
}
.pre {
  font-size: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color:bisque;
  font-size: 20px;
}
.svg {
  width: 150px;
  height: 34px;
  background-image: url(/rsschool-cv/assets/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-link {
  text-decoration: none;
  color:bisque;
  padding-left: 600px;
}